body {
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #757575;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}


#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center; 
}

#logo {
    margin-left: 10px;
}

#nav-links {
    text-align: center;
    width: 100%;

}

#padding-div {
    min-width: 100px;
    min-height: 100px;
    margin-right: 10px;
}
 
#instagram-link {
    position: relative;
    left: 25px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}
#instagram-link img {
    position: relative;
    top: 30px;
}

a {
    padding-inline: 5px;
    color: #F1B821;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.a-active {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

#background {
    background-color: black;
    margin: auto;
    width: 825px;
    overflow: hidden;
    filter: blur(15px);
}

#contact-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 20px black;
    backdrop-filter: blur(28px);
    border-radius: 25px;
    margin-top: 25px;
}

form {
    padding-inline: 25px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-label {
    color: #F1B821;
    padding-top: 25px;
}

input, textarea, button {
    padding: 10px;
    padding-left: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
    border-radius: 25px;
    height: 40px;
}

textarea {
    height: 150px;
}

.button-wrapper {
    text-align: center;
    padding: 25px;
}

button {
    color: #F1B821;
    width: 40%;
    height: 65px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

p {
    display: none;
}

@media only screen and (max-width: 800px) {
    #nav {
        display: flex;
        flex-direction: column;
    }
    .logo-link img {
        flex: 1;
        height: 100px;
    }
    #nav-links {
        flex: 1;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        font-size: x-small;
        color: #F1B821;
    }

    #padding-div {
        position: absolute;
        top: 0px;
        right: 0px;
    }
     
    #instagram-link {
        left: 50px;
    }
    #instagram-link img {
        top: 15px;
    }

    #background {
        margin-top: 50px;
        width: 90%;
        animation: none;
    }
    #logo-img {
        margin-top: 10px;
        width: 100%;
    }
    #contact-form-wrapper {
        top: 125px;
        transform: translate(-50%, 0);
        width: 80%;
    }
    input, textarea, button {
        padding: 10px;
        padding-left: 15px;
        color: white;
        background-color: rgba(255, 255, 255, 0.05);
        border: solid 1px black;
        border-radius: 15px;
        height: 15px;
    }
    textarea {
        height: 50px;
    }
    button {
        height: fit-content;

    }
}