body {
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #757575;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}

#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center; 
}

#logo {
    margin-left: 10px;
}

#nav-links {
    text-align: center;
    width: 100%;

}

#padding-div {
    min-width: 100px;
    min-height: 100px;
    margin-right: 10px;
    display: flex;
}
 
#instagram-link {
    padding-top: 25%;
}

#facebook-link {
    padding-top: 25%;
}

a {
    padding-inline: 5px;
    color: #F1B821;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.a-active {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

#background {
    background-color: black;
    margin: auto;
    width: 700px;
    overflow: hidden;
    /* animation: expandBackground 1s ease 1.5s forwards; */
}

@keyframes expandBackground {
    0% {
        width: 700px;
    }
    100% {
        width: 825px;
        overflow: visible;
    }
}

#logo-text {
    opacity: 1;
    /* animation: moveLogoText 0.5s ease 1s forwards;  */
}

@keyframes moveLogoText {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
        display: none;
    }
}

#logo-img {
    width: 700px;
    filter: blur(0);
    /* animation: expandLogoImage 1s ease 1.5s forwards; */
}

@keyframes expandLogoImage {
    0% {
        width: 700px;
        filter: blur(0);
    }
    100% {
        width: 825px;
        filter: blur(15px);
    }
}

#portfolio-images {
    width: 100vw;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 0px;
    transition: opacity 2.5s ease;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

#column {
    flex: 20%;
    max-width: 25%;
    padding: 0 5px;
}

#column:first-of-type {
    padding-left: 0;
    margin-left: 0;
}
  
#column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#polaroid-wrapper {
    aspect-ratio: 3.4 / 4.2;
    background-color: #f0ead5;
    background-image: url(Images/polaroid-background.jpg);
    width: 450px;
    position: absolute;
    top: 4000px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 5px 25px black;
    /* animation: moveInfoUp 1.1s ease 2.2s forwards; */
    transition: transform 1s ease;
}

#polaroid-inner {
    background-color: black;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#welcome-blurb {
    color: #F1B821;
    font-size: xx-large;
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    padding-top: 1px;
}

@keyframes moveInfoUp {
    0% {
        top: 4000px;
    }
    80% {
        top: 90px;
    }
    100% {
        top: 100px;
    }
}

#remove-welcome-blurb {
    opacity: 1000;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: large;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 25px;
    background-image: url(Images/polaroid-background.jpg);
    box-shadow: 0px 1px 5px black;
}

#remove-welcome-blurb:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #nav {
        display: flex;
        flex-direction: column;
    }
    .logo-link img {
        flex: 1;
        height: 100px;
    }
    #nav-links {
        flex: 1;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        font-size: x-small;
        color: #F1B821;
    }

    #padding-div {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    #background {
        margin-top: 50px;
        width: 90%;
        animation: none;
    }
    #logo-img {
        margin-top: 10px;
        width: 100%;
        animation: blurLogoImage 1s ease 1.5s forwards;
    }
    @keyframes blurLogoImage {
        0% {
            filter: blur(0px);
        }
        100% {
            filter: blur(10px);
        }
    }
    #logo-text {
        width: 100%;
    }
    #portfolio-images {
        top: 135px
    }
    #column {
        flex: 45%;
        max-width: 50%;
        padding: 0 5px;
    }
    #row>:first-child {
        padding-left: 5px;
    }
    #polaroid-wrapper {
        width: 350px;
    }
    #welcome-blurb {
        font-size: x-large;
    }
}