body {
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none;
}

#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center; 
}

#logo {
    margin-left: 10px;
}

#nav-links {
    position: absolute;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #nav-links {
        padding-left: 35px;
    }   
}

a {
    padding-inline: 0.5%;
    color: #F1B821;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.a-active {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.logo-link {
    margin: 0px;
}


#background {
    background-color: black;
    margin: auto;
    width: 825px;
    overflow: hidden;
    filter: blur(15px);
}

/* #information-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 10px;
}

#events-wrapper, #weddings-wrapper, #on-location-wrapper, #second-shooting-wrapper, #disclaimer {
    backdrop-filter: blur(28px);
    padding: 10px;
    padding-top: 0px;
    color: #F1B821;
}

#events-wrapper>h1 {
    font-size: 45px;
}

#weddings-wrapper>h1 {
    font-size: 55px;
}

#on-location-wrapper>h1 {
    font-size: 17px;
}

#second-shooting-wrapper>h1 {
    font-size: 25px;
}

#weddings-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;

    border-radius: 30px 10px 10px 10px;
}

#disclaimer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;

    padding-block: 22px;

    border-radius: 10px 10px 10px 30px;
}

#events-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    border-radius: 10px 30px 10px 10px;
}

#on-location-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;

    border-radius: 10px 10px 10px 10px;
}

#second-shooting-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;

    border-radius: 10px 10px 30px 10px;
} */

#headshot-wrapper {
    width: 25%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    animation: moveHeadshot 1.05s ease-out 1s forwards;
}

#info-wrapper {
    width: 25%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    backdrop-filter: blur(25px);
    border-radius: 10px 25px 10px 25px;
    padding: 10px;
    color: #F1B821;
    text-align: center;
    font-size: large;
    animation: moveInfo 1.5s ease-out 1s forwards;
}

@keyframes moveHeadshot {
    0%{

    }
    100%{
        left: 23%;
    }
}

@keyframes moveInfo {
    0%{
    
    }
    100%{
        left: 50%;
        transform: translate(-50% -50%);
    }
}

@media only screen and (max-width: 600px) {
    #nav {
        height: 100px;
    }
    .logo-link {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        /* pointer-events: none; */
    }
    #nav-links {
        width: 100vw;
        position: absolute;
        text-align: center;
        top: 115px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 0;
        margin-bottom: 0;
    }
    a {
        font-size: x-small;
        margin-right: 5%;
        color: #F1B821;
    }
    #background {
        margin-top: 50px;
        width: 90%;
        animation: none;
    }
    #logo-img {
        margin-top: 10px;
        width: 100%;
    }
    /* #information-wrapper {
        top: 150px;
        transform: translate(-50%, 0);
    }
    #weddings-wrapper {
        grid-row-end: 7;
    }
    #disclaimer {
        grid-row-start: 7;
        grid-row-end: 8;
    } */

}