body {
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #757575;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}


#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center; 
}

#logo {
    margin-left: 10px;
}

#nav-links {
    text-align: center;
    width: 100%;

}

#padding-div {
    min-width: 100px;
    min-height: 100px;
    margin-right: 10px;
    display: flex;
}
 
#instagram-link {
    padding-top: 25%;
}

#facebook-link {
    padding-top: 25%;
}

a {
    padding-inline: 5px;
    color: #F1B821;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.a-active {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

#background {
    background-color: black;
    margin: auto;
    width: 825px;
    overflow: hidden;
    filter: blur(15px);
}

#wrapper {
    width: 1100px;
    display: flex; 
    /* flex-direction: row; */
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#info-wrapper {
    flex: 1;
    width: auto;
    /* width: 25%; */
    /* position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    animation: moveHeadshot 1.05s ease-out 1s forwards; */
    backdrop-filter: blur(25px);
    border-radius: 10px 25px 10px 25px;
    padding: 10px;
    margin: 10px;
    color: #F1B821;
    text-align: center;
    font-size: large;
}

#headshot-wrapper {
    flex: 1;
    /* width: auto; */
    padding: 10px;
    margin: 10px;
    /* margin-left: auto; */
    /* width: 25%; */
    /* position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    
    animation: moveInfo 1.5s ease-out 1s forwards; */
}

@media only screen and (max-width: 1200px) {
    #wrapper {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    #headshot-wrapper img{
        width: 400px;
    }
}

@keyframes moveHeadshot {
    0%{

    }
    100%{
        left: 23%;
    }
}

@keyframes moveInfo {
    0%{
    
    }
    100%{
        left: 50%;
        transform: translate(-50% -50%);
    }
}

@media only screen and (max-width: 800px) {
    #nav {
        display: flex;
        flex-direction: column;
    }
    .logo-link img {
        flex: 1;
        height: 100px;
    }
    #nav-links {
        flex: 1;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        font-size: x-small;
        color: #F1B821;
    }

    #padding-div {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #background {
        margin-top: 50px;
        width: 90%;
        animation: none;
    }
    #logo-img {
        margin-top: 10px;
        width: 100%;
    }
    
    #headshot-wrapper {
        width: 100%;
    }
    #headshot-wrapper img {
        width: 100%;
    }


}