body {
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #757575;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111;
}


#nav {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center; 
}

#logo {
    margin-left: 10px;
}

#nav-links {
    text-align: center;
    width: 100%;

}

#padding-div {
    min-width: 100px;
    min-height: 100px;
    margin-right: 10px;
}
 
#instagram-link {
    position: relative;
    left: 25px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}
#instagram-link img {
    position: relative;
    top: 30px;
}

a {
    padding-inline: 5px;
    color: #F1B821;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

.a-active {
    text-shadow: 0 0 5px  #FFE6A4;
    color: #FFF0CA;
}

#background {
    background-color: black;
    margin: auto;
    width: 825px;
    overflow: hidden;
    filter: blur(15px);
}

#formatting-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%;
    /* background-color: white; */
}

#row-1 {
    text-align: center;
    margin: auto;
}

p {
    color: #F1B821;
    backdrop-filter: blur(25px);
    padding: 15px;
    border-radius: 20px;
    font-size: larger; 
}

#row-2 {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

#chef-shorney {
    width: fit-content;
    margin: auto;
}
#chef-shorney img {
    width: 300px;
    transition: transform 0.2s;
}
#chef-shorney:hover img {
    transform: scale(1.1);
}

#stestrength {
    margin: auto;
    width: fit-content;
    transition: transform 0.2s;
}

#stestrength:hover {
    transform: scale(1.1);
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px; 
    align-items: center;
}

.image-container img {
    width: 175px;
}

#stestrength img:nth-child(1) {
    width: 186px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#stestrength img:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#stestrength img:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}


@media only screen and (max-width: 800px) {
    #nav {
        display: flex;
        flex-direction: column;
    }
    .logo-link img {
        flex: 1;
        height: 100px;
    }
    #nav-links {
        flex: 1;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    a {
        font-size: x-small;
        color: #F1B821;
    }

    #padding-div {
        position: absolute;
        top: 0px;
        right: 0px;
    }
     
    #instagram-link {
        left: 50px;
    }
    #instagram-link img {
        top: 15px;
    }

    #background {
        margin-top: 50px;
        width: 90%;
        animation: none;
    }
    #logo-img {
        margin-top: 10px;
        width: 100%;
    }
    #chef-shorney img {
        width: 100%;
        margin-bottom: 10px;
    }
    #stestrength {
        width: fit-content;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #stestrength img:nth-child(1) {
        width: 32vw;
    }
    #stestrength img:nth-child(2) {
        width: 30vw;
    }
    #stestrength img:nth-child(3) {
        width: 30vw;
    }
}
